*{
    box-sizing: border-box;
   
    
}
.container{
    width:500px;
  
    background-color: azure;
    
}

h1{
    text-align: center;
}
.gettime{
    margin-bottom: 30px;
}
.digital{
    border:1px solid black;
    height:100px;
    border-radius: 10px;
      
}
#grid-container{
    display: grid;
    grid-template-columns: 100px 30px 90px 30px 90px 30px;
    height: 50px;
    font-size: 80px;
    padding-left: 10px;
    margin: auto;
    
}
